<div class="main">
        <app-nav-bar-component></app-nav-bar-component>
    
        <div class="news-box">
            <div class="image-box">
                <img class="news-image" src="../../../assets/img/news.jpg" />
            </div>
            <div class="text-box">
                <div class="news-title">Bilety na Pink Floyd już w sprzedaży!</div>
                <div class="news-text">Pink Floyd – angielski zespół rockowy założony w 
                    1965 roku w Londynie. Ich twórczość, początkowo klasyfikowana 
                    jako rock psychodeliczny, w późniejszych latach nabrała cech rocka 
                    progresywnego. Grupa znana jest z filozoficznie zabarwionych tekstów 
                    piosenek, eksperymentów z dźwiękiem, innowacyjnego podejścia do kwestii 
                    grafiki w albumach oraz rozbudowanych występów koncertowych. Sprzedali 
                    na całym świecie ponad 250 milionów albumów (z tego ok. 74,5 
                    miliona w samych Stanach Zjednoczonych), co czyni ich jedną z najlepiej 
                    sprzedających się grup muzycznych w historii.<br><br>

                    Nie czekaj i zamów je już dziś! Pamiętaj - rezerwacji<br>

                    <form>
                        <div>Imie</div>
                        <input>
                        <div>Nazwisko</div>
                        <input>
                        <button type="submit">Zarejestruj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>