<div class="main">
    <app-nav-bar-component></app-nav-bar-component>

    <div class="news-box">
        <div class="image-box">
            <img class="news-image" src="../../../assets/img/news.jpg" />
        </div>
        <div class="text-box">
            <div class="news-title">Elektrownia z okładki Pink Floyd zostanie sprzedana!</div>
            <div class="news-text">Była elektrownia znalazła się na okładce albumu grupy Pink Floyd pt. "Animals" i jest jednym najbardziej ikonicznych
                budynków w Londynie. Jej cztery kominy górują nad olbrzymim sarkofagiem zbudowanym z cegieł. Budynek położony
                jest na południowym brzegu Tamizy w zachodniej części miasta.
                <br>
                <br> Drugim powodem, dla którego warto odnotować tę sprzedaż jest suma, za jaką malezyjska firma zakupi elektrownię
                - to ponad 1.5 miliarda funtów. Będzie to jedna z największych transakcji na rynku nieruchomości w historii
                Wielkiej Brytanii.
                <br>
                <br> Była elektrownia przerabiana jest obecnie na 250 mieszkań i galerię handlową. Wszystkie apartamenty w ofercie
                zostały sprzedane przed oddaniem ich do eksploatacji. Według komentatorów, niska wartość funta i problemy
                na rynku budowlanym zmusiły obecnych właścicieli obiektu do szukania zamożnych inwestorów z Azji.
            </div>
        </div>
    </div>
    <div class="news-box">
        <div class="image-box">
            <img class="news-image" src="../../../assets/img/news2.jpg" />
        </div>
        <div class="text-box">
            <div class="news-title">Michael Jackson nadal nie żyje</div>
            <div class="news-text">Jak podaje znane forum o tematyce ogólnej 4chan.org ostatnimi czasy pojawiły się pogłoski na temat rychłej trasy
                koncertowej znanego wokalisty i kompozytora Michaela Jacksona. Co ciekawe miały się one odbyć mimo śmierci
                samego artysty. Według tekstu muzyk miał zasymulować swoją śmierć by odpocząć od natrętnych fanów.
                <br>
                <br> Informacjom stanowczo zaprzecza rodzina. Twierdzi, iż zgon Michaela był jak najbardziej prawdziwy, aczkolwiek
                trwają rozmowy na temat wypuszczenia trasy koncertowej na którym śpiewać będzie.. jego hologram. Niestety,
                nie podano kiedy trasa miałaby się rozpocząć.
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="news-box">
        <div class="image-box">
            <img class="news-image" src="../../../assets/img/news3.jpg" />
        </div>
        <div class="text-box">
            <div class="news-title">Kukiz przyłapany na piwku</div>
            <div class="news-text">Zamiast niezdrowych napojów energetycznych ... piwo. Paweł Kukiz niedawno był pacjentem szpitala. Jak sam stwierdził,
                jego zły stan zdrowia był spowodowany zbyt dużą liczbą wypalanych papierosów i wypijanych energetyków. W
                sobotę lider Kukiz'15 zdradził w "Dzień dobry" TVN, że rzucił papierosy i nie pali już od dwóch tygodni.
                Piwka jednak nie potrafił sobie odmówić.
            </div>
        </div>
    </div>
</div>