<div class="main">
    <app-nav-bar-component></app-nav-bar-component>

    <div class="news-box">
        <div class="image-box">
            <img class="news-image" src="../../../assets/img/news.jpg" />
        </div>
        <div class="text-box">
            <div class="news-title">Elektrownia z okładki Pink Floyd zostanie sprzedana!</div>
            <div class="news-text">Była elektrownia znalazła się na okładce albumu grupy Pink Floyd pt. "Animals" i jest jednym najbardziej ikonicznych budynków w Londynie. Jej cztery kominy górują nad olbrzymim sarkofagiem zbudowanym z cegieł. Budynek położony jest na południowym brzegu Tamizy w zachodniej części miasta.<br><br>
                Drugim powodem, dla którego warto odnotować tę sprzedaż jest suma, za jaką malezyjska firma zakupi elektrownię - to ponad 1.5 miliarda funtów. Będzie to jedna z największych transakcji na rynku nieruchomości w historii Wielkiej  Brytanii.<br><br>  
                Była elektrownia przerabiana jest obecnie na 250 mieszkań i galerię handlową. Wszystkie apartamenty w ofercie zostały sprzedane przed oddaniem ich do eksploatacji. Według komentatorów, niska wartość funta i  problemy na rynku budowlanym zmusiły obecnych właścicieli obiektu do szukania zamożnych inwestorów z Azji.
            </div>
        </div>
    </div>
</div>